#heading{
    color: lightpink;
}
#search-btn{
    background-color: lightpink;
    color: white;
}
#details-btn{
    background-color: lightpink;
    color: white;
}
#spinner{
    display: none;
}
#no-result{
    background-color: lightpink;
}
#phone-quantity{
    background-color: lightpink;
}
#show-btn{
    background-color: lightpink;
    color: white;
    font-size: 24px;
    /* display: none; */
}